* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(220, 40%, 90%);
}

.buttons {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

button {
    cursor: pointer;
    height: 200px;
    width: 200px;
    font-size: 100px;
    border: 0;
    background-color: hsl(220, 40%, 60%);
    border-radius: 10%;
    transition: all 0.3s ease;
}

button:hover {
    background-color: hsl(220, 40%, 55%);
    transform: scale(1.05);
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}