* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 40%, 90%);
}

h1,
p,
button {
    margin-bottom: 10px;
    color: hsl(220, 40%, 10%);
}

button {
    padding: 1rem 0.5rem;
    background-image: linear-gradient(to top right, hsl(200, 100%, 35%), hsl(190, 100%, 40%), hsl(190, 75%, 75%));
}